<style>
    .image-list-container {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .image-list-container img {
        border-radius: 0px;
        flex: 0 0 100%/{{}};
    }

</style>

<div class="image-list-container">
    {% for block in section.blocks %}
        <img src="{{ block.settings.image |  image_url }}" width="" height="auto" alt="{{ block.settings.image-alt }}">
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Image list",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "range",
            "id": "width",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Images to show per row",
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "image-alt",
                    "label": "Image alt"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Image list"
      }
    ]
  }
{% endschema %}