{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="info-points-container">
  <h2 class="content-heading">{{ section.settings.title }}</h2>

  <div class="topics">
    <span class="vertical-line topics-vertical-line"></span>
    {% for block in section.blocks %}
      <p>{{ forloop.index }}. {{ block.settings.content }}</p>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Info in points",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Point",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Info in points"
      }
    ]
  }
{% endschema %}