{{ 'migration.css' | asset_url | stylesheet_tag }}

<div class="info-points-container {% if section.settings.vertical-points == true %}points-container-vertical{% endif %}">
  <h2 class="points-heading">{{ section.settings.heading }}</h2>

  <div class="points {% if section.settings.vertical-points == true %}points-vertical{% endif %}">

    {% assign meta_object = page.metafields.custom.comparison_content.value %}
    {% assign topics = meta_object.topic_details.value %}

    {% for block in section.blocks %}
      <div class="point d-flex">
        <span class="points-line {% if forloop.first %}d-none-on-small-devices{% endif %}"></span>
        <div class="point-content">
          <p class="point-heading">{{ block.settings.title }}</p>
          {% if block.settings.description != blank %}
            <p class="point-desc">{{ block.settings.description }}</p>
          {% endif %}
        </div>

      </div>

    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Info in points",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "checkbox",
        "id": "vertical-points",
        "label": "Show points vertically",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Point",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Info in points"
      }
    ]
  }
{% endschema %}