{%- stylesheet -%}
  .section-container {
    padding: 2rem 10rem;
    max-width: 100vw;
    width: 100vw;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
  }

  .logo-container .logo img {
    width: 100%;
  }

  .logo-container .logo {
    margin: 0 2rem;
    flex: 0 0 calc(100% / {{ section.settings.logos-per-row }} - 28px*({{ section.settings.logos-per-row }} - 1) / 2);
  }

  @media screen and (max-width: 800px) {
    .section-container {
      padding: 2rem;
    }
  }

  /* @media screen and (max-width: 430px) {
    .logo-container .logo img {
      width: 100px;
    }
  } */

  /* @media screen and (max-width: 350px) {
    .logo-container .logo img {
      width: 80px;
    }
  } */

  /* @media screen and (max-width: 310px) {
    .logo-container .logo img {
      width: 80vw;
    }
  } */
{%- endstylesheet -%}

<div class="section-container">
  <h1>{{ section.settings.heading }}</h1>

  <div class="logo-container">
    {% for block in section.blocks %}
      <div class="logo">
        <img
          src="{{ block.settings.logo | image_url }}"
          width="140"
          height="auto"
          alt="logo">
      </div>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Logo section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "image_picker",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo section"
      }
    ]
  }
{% endschema %}