{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topics-container">
  <h2 class="content-heading">{{ section.settings.title }}</h2>

  {% assign meta_object = page.metafields.custom.comparison_content.value %}

  <div class="topics">
    {% assign topic_items = meta_object.topic_items | split: ',' %}
    {% for Item in topic_items %}
      <p>{{ forloop.index }}. {{ Item | remove: '"' | remove: '[' | remove: ']' | strip }}</p>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Topics",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "point1",
      "label": "Point 1"
    }
  ],
  "presets": [
    {
      "name": "Topics"
    }
  ]
}
{% endschema %}