{{ 'comparison.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .rich-text_wrapper > h3 {
        font-size: 4rem;
        margin: 1.5rem 0;
    }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container rich-text--full-width content-container--full-width section-{{ section.id }}-padding">
    <div class="rich-text__wrapper">
      <div class="rich-text__blocks">
        <h3>{{ section.settings.heading }}</h3>
        <p>{{ section.settings.content }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text with Heading",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Heading",
        "label": "Heading"
      }, {
        "type": "textarea",
        "id": "content",
        "default": "Content",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Text with Heading"
      }
    ]
  }
{% endschema %}