{% stylesheet %}
  .text-on-image-container {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .text-on-image-container img {
    width: 100%;
    height: auto;
  }

  .text-on-image-container .text-on-image-content {
    width: 50%;
    padding: 0 4rem;
    background-color: #ffffff45;
    border-radius: 20px;
  }

  .text-on-image-container .text-on-image-content .text-left {
    margin: 0.5rem;
  }

  .text-on-image-container div {
    position: absolute;
  }

  .text-on-left-container {
    align-items: baseline !important;
    justify-content: center;
    overflow-y: scroll;
  }

  .justify-center {
    justify-content: center !important;
  }

  .text-on-image-container h1 {
    font-size: 54px;
    font-weight: 800;
    font-family: "Manrope-Medium";
    font-style: normal;
  }

  .text-on-image-content h1 {
    font-size: 36px !important;
  }

  .text-on-image-content p {
    font-size: 18px !important;
  }

  .text-left {
    color: #000000 !important;
  }

  .text-right {
    color: #ffffff !important;
  }

  @media screen and (max-width: 1150px) {
    .text-on-image-container .text-on-image-content {
      width: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    .text-on-image-container div.h1 {
      font-size: 40px !important;
    }
    .text-on-image-content h1 {
      font-size: 24px !important;
    }
    .text-on-image-content p {
      font-size: 16px !important;
    }
    .text-on-image-container .text-on-image-content {
      width: 100%;
      padding: 0 1rem;
    }
    .text-on-image-container .text-on-image-content .text-left {
      margin: 1rem 0.5rem;
    }
    .text-on-left-container {
      justify-content: start !important;
    }
  }
  .d-none {
    display: none !important;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
{% endstylesheet %}

<div class="text-on-image-container {% if section.settings.text-on-left %}text-on-left-container no-scrollbar{% else %}justify-center{% endif %}">
  <img
    class="desktop-image"
    src="{{ section.settings.image | image_url }}"
    alt="Background image">
  <img
    class="mobile-image d-none"
    src="{{ section.settings.mobile-image | image_url }}"
    alt="Background image">

  <div class="{% if section.settings.text-on-left %}text-on-image-content{% endif %}">
    <h1 class="{% if section.settings.text-on-left %}text-left{% else %}text-right{% endif %}">{{ section.settings.text }}</h1>
    {% if section.settings.description != blank %}
      <p class="{% if section.settings.text-on-left %}text-left{% else %}text-right{% endif %}">{{ section.settings.description }}</p>
    {% endif %}
  </div>

</div>

{%- javascript -%}
  document.addEventListener("DOMContentLoaded", function() {

  // Changed to query selector all --> there can be more than one section
      const desktopImages = document.querySelectorAll(".desktop-image");
      const mobileImages = document.querySelectorAll(".mobile-image");
      if (window.innerWidth<= 768) {

      desktopImages.forEach(element => {
        element.classList.add("d-none");
      }) 

        mobileImages.forEach(element => {
          element.classList.remove("d-none");
        })


      


    }

  }
);
{%- endjavascript -%}

{% schema %}
  {
    "name": "Text on image",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile-image",
        "label": "Image for mobile"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "description",
        "label": "description"
      }, {
        "type": "checkbox",
        "id": "text-on-left",
        "default": false,
        "label": "Show Text on left"
      }
    ],
    "presets": [
      {
        "name": "Text on image"
      }
    ]
  }
{% endschema %}