{{ 'comparison.css' | asset_url | stylesheet_tag }}

<style>

  .section-container > h3 {
    font-size: 4rem;
    margin: 1.5rem 0;
  }
  .section-container > p {
    font-size: 2.2rem;
    color: #000000;
  }
  @media screen and (max-width: 450px) {
    .section-container p {
      font-size: 2rem;
    }
  }
  .section-container {
    min-width: 100%;
    padding: 0 8.7%;
    margin: 3rem 0;
  }
</style>

<div class="section-container isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <h3>{{ section.settings.heading }}</h3>
  <p>{{ section.settings.content }}</p>
</div>

{% schema %}
  {
    "name": "Text with Heading",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Heading",
        "label": "Heading"
      }, {
        "type": "textarea",
        "id": "content",
        "default": "Content",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Text with Heading"
      }
    ]
  }
{% endschema %}