{% stylesheet %}
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800 &display=swap');
  .text-on-image-container {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-on-image-container img {
    width: 100%;
    height: auto;
  }

  .text-on-image-container h1 {
    font-size: 72px;
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    color: #ffffff;
  }

  @media (max-width: 768px) {
    .text-on-image-container img {
      content: url("{{ section.settings.mobile-image | image_url }}");
    }
  }
{% endstylesheet %}

<div class="text-on-image-container">
  <img src="{{ section.settings.image |  image_url  }}" alt="Background image">
  <h1>{{ section.settings.text }}</h1>
</div>

{% schema %}
  {
    "name": "Text on image",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "mobile-image",
        "label": "Image for mobile"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Text on image"
      }
    ]
  }
{% endschema %}