{{ 'comparison.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .rich-text_blocks > h3 {
    font-size: 4rem;
    margin: 1.5rem 0;
  }
  .rich-text_blocks > p {
    font-size: 2.2rem;
  }
  .page-width: {
    padding: 0;
    margin: 3rem 14rem;
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <h3>{{ section.settings.heading }}</h3>
  <p>{{ section.settings.content }}</p>
</div>

{% schema %}
  {
    "name": "Text with Heading",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Heading",
        "label": "Heading"
      }, {
        "type": "textarea",
        "id": "content",
        "default": "Content",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Text with Heading"
      }
    ]
  }
{% endschema %}