{% stylesheet %}
  .text-on-image-container {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-on-image-container img {
    width: 100%;
    height: auto;
  }

  .text-on-image-container h1 {
    position: absolute;
    font-size: 54px;
    font-weight: 800;
    font-family: "Manrope-Medium";
    font-style: normal;
    color: {%;
  }

  @media screen and (max-width: 768px) {
    .text-on-image-container h1 {
      font-size: 40px !important;
    }
  }
  .d-none {
    display: none !important;
  }
{% endstylesheet %}

<div class="text-on-image-container">
  <img
    class="desktop-image"
    src="{{ section.settings.image | image_url }}"
    alt="Background image">
  <img
    class="mobile-image d-none"
    src="{{ section.settings.mobile-image | image_url }}"
    alt="Background image">
  <h1>{{ section.settings.text }}</h1>
  {% if section.settings.description != blank %}
    <p>{{ section.settings.description }}</p>
  {% endif %}
</div>

{%- javascript -%}
  document.addEventListener("DOMContentLoaded", function() {
    const image = document.querySelector(".desktop-image");
    const mobileImage = document.querySelector(".mobile-image");
    if (window.innerWidth <= 768) {
      image.classList.add("d-none");
      mobileImage.classList.remove("d-none");
    }
  });
{%- endjavascript -%}

{% schema %}
  {
    "name": "Text on image",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile-image",
        "label": "Image for mobile"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "description",
        "label": "description"
      }, {
        "type": "checkbox",
        "id": "text-on-left",
        "label": "Show Text on left"
      }
    ],
    "presets": [
      {
        "name": "Text on image"
      }
    ]
  }
{% endschema %}