{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topics-container">
  <h2 class="content-heading">{{ section.settings.title }}</h2>

  <div class="topics">
    {% for block in section.blocks %}
      <p>{{ forloop.index }}. {{ block.settings.content }}</p>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Topics",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Content Block",
        "settings": [
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Topics"
      }
    ]
  }
{% endschema %}