{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topic-item-container">

  <div class="left-section">
    <h3></h3>
  </div>
  <div class="right-section"></div>

</div>

{% schema %}
  {
    "name": "Topic Item",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "left-heading",
        "label": "Left heading"
      },
      {
        "type": "text",
        "id": "left-content",
        "label": "Left content"
      },
      {
        "type": "text",
        "id": "right-heading",
        "label": "Right heading"
      },
      {
        "type": "text",
        "id": "right-content",
        "label": "Rigth "
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Right Block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "content",
            "label": "Content"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Click Here"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Topic Item"
      }
    ]
  }
{% endschema %}