{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topic-item-container">

  <div class="left-section">
    <h3>{{ section.settings.left-heading }}</h3>
    </div>
    
    <div class="right-section">
      <h3>{{ section.settings.right-heading }}</h3>
    </div>

</div>

{% schema %}
  {
    "name": "Topic Item",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "left-heading",
        "label": "Left heading"
      },
      {
        "type": "textarea",
        "id": "left-content",
        "label": "Left content"
      },
      {
        "type": "text",
        "id": "right-heading",
        "label": "Right heading"
      },
      {
        "type": "textarea",
        "id": "right-content",
        "label": "Right content"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Read More"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Topic Item"
      }
    ]
  }
{% endschema %}