{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topic-item-container">


</div>

{% schema %}
  {
    "name": "Topic Item",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Content Block",
        "settings": [
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Topic Item"
      }
    ]
  }
{% endschema %}