{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topics-container">
  <h1 class="content-heading"></h1>
</div>

{% schema %}
  {
    "name": "Info Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Content Block",
        "settings": [
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Info Banner"
      }
    ]
  }
{% endschema %}