{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topics-container">
    {% if section.settings.title != blank %}
        <h2 class="content-heading">{{ section.settings.title }}</h2>
    {% else %}    
        <h2 class="content-heading">{{ section.settings.title }}</h2>
    {% endif %}
</div>

{% schema %}
  {
    "name": "Info Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Content Block",
        "settings": [
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Info Banner"
      }
    ]
  }
{% endschema %}