{%- stylesheet -%}
  .video-section-container {
    padding: 2rem 10rem;
    max-width: 100vw;
    width: 100vw;
  }

  .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
  }

  .video-container .video {
    margin: 0 2rem;
  }

  @media screen and (max-width: 800px) {
    .video-section-container {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 430px) {
    .video-container .video img {
      width: 100px;
    }
  }

  @media screen and (max-width: 350px) {
    .video-container .video img {
      width: 80px;
    }
  }

  @media screen and (max-width: 310px) {
    .video-container .video img {
      width: 80vw;
    }
  }

  .video video {
    width: 500px;
    height: auto;
  }
{%- endstylesheet -%}

<div class="video-section-container">
  <div class="video-container">
    {% for block in section.blocks %}
      <div class="video">
          {{
            block.settings.video
            | video_tag:
              autoplay: block.settings.autoplay,
              controls: true,
              muted: false
          }}
      </div>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Video list",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          }, {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay video",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video list"
      }
    ]
  }
{% endschema %}