.info-banner-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.info-banner-container {
    overflow: hidden;
    margin: 0;
    padding: 4rem 8rem;
    background: linear-gradient(317deg, #035d24, #023b17b8, #035d24);
    max-width: 100vw;
    padding-bottom: 10rem;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info-banner-container img {
    align-self: start;
    margin-top: 2rem;
}

.info-heading {
    font-size: 10.5rem;
    margin-top: 2rem;
}

/* For heading font-size */
@media screen and (max-width: 900px) {
    .info-heading {
        font-size: 8rem;
    }
}

@media screen and (max-width: 800px) {
    .info-heading {
        font-size: 6rem;
    }
    .info-desc {
        margin-top: 2rem !important;
    }
}

@media screen and (max-width: 560px) {
    .info-heading {
        font-size: 4rem;
    }

    .info-desc {
        font-size: 2.3rem !important;
    }

    .info-banner-container {
        padding: 4rem 3rem;
    }
}

@media screen and (max-width: 550px) {
    .info-desc {
        max-width: 92vw !important;
    }
    .info-banner-container {
        padding: 4rem 1.5rem;
    }
}

.info-desc {
    color: #fdecec;
    font-size: 3.3rem;
    max-width: 75vw;
    margin-top: 4rem;
}

.info-bottom-text {
    color: #c5b2b2;
    position: absolute;
    bottom: 3rem;
    max-width: 70vw;
}

@media screen and (max-width: 550px) {
    .info-bottom-text {
        max-width: 90vw;
    }
}


/* Styling for topics section => */

.topics-container {
    padding: 1rem;
}

.content-heading {
    padding: 1rem;
    text-align: center;
    font-size: 4rem;
}

@media screen and (max-width: 650px) {
    .content-heading {
        font-size: 3.5rem;
    }
}

.topics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.topics p {
    font-size: 3rem;
    width: 40%;
    margin: 1rem;
}

@media screen and (max-width: 1000px) {
    .topics p {
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .topics p {
        text-align: left;
        font-size: 2.5rem;
    }
}